.hero {
  height: 100vh;
}

.brand-name-container {
  height: 100vh;
  width: 100vw;
  width: 100vw;
  position: relative;
}

.hero h1 {
  font-family: var(--font-vidaloka);
}

.hero .brand-name {
  top: 70%;
  position: absolute;
  right: 10%;
}
